@model Subscription


<h3 class="text-center">Aidat Yönetimi</h3>
<hr />

@await Html.PartialAsync("_TopMenuPartial")


<div class="row">
    <div class="col-6">
        <h3 class="text-center">Aidat Ekle</h3>
        <form asp-action="SubscriptionAdd" method="Post">
            <div class="form-group">
                <label>Daire Kullanıcısı</label>
                <select asp-for="FlatId" asp-items="@ViewBag.Flats" class="form-control">
                    <option selected disabled>--Daire Seçimi--</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label"> Tutar</label>
                <input asp-for="Amount" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Ay</label>
                <select asp-for="Month" class="form-control">
                    <option selected value='1'>Ocak</option>
                    <option value='2'>Şubat</option>
                    <option value='3'>Mart</option>
                    <option value='4'>Nisan</option>
                    <option value='5'>Mayıs</option>
                    <option value='6'>Haziran</option>
                    <option value='7'>Temmuz</option>
                    <option value='8'>Ağustos</option>
                    <option value='9'>Eylül</option>
                    <option value='10'>Ekim</option>
                    <option value='11'>Kasım</option>
                    <option value='12'>Aralık</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label"> Yıl</label>
                <input asp-for="Year" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-outline-primary btn-block" />
                <a asp-action="Index" class="btn btn-outline-danger btn-block">Vazgeç</a>
            </div>
        </form>
    </div>


    <div class="col-6" style="border-left:1px solid black;">
        <h3 class="text-center">Aidatlar</h3>
        @if (ViewBag.Subscriptions.Count == 0)
        {
<p class="text-center">Henüz eklenmiş Aidat bulunmamaktadır...</p> }
else
{
<table class="table">
    <thead class="bg-dark text-white">
        <tr class="text-center">
            <th>Daire Kullanıcısı</th>
            <th>Tutar</th>
            <th>Ay</th>
            <th>Yıl</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subscription in ViewBag.Subscriptions)
        {
        <tr class="text-center">
            <td>@subscription.Flat.User.Name</td>
            <td>@subscription.Amount</td>
            <td>@subscription.Month</td>
            <td>@subscription.Year</td>
            <td>
                <a class="btn btn-success" asp-route-subscriptionId="@subscription.Id" asp-action="Delete"> Delete</a>
            </td>
            <td>
                <a class="btn btn-success" asp-route-subscriptionId="@subscription.Id" asp-action="Update"> Update</a>
            </td>
        </tr>
                }
    </tbody>
</table>}
    </div>
</div>

