@model UserInvoice
<h3 class="text-center">Fatura-Aidat-Ödeme İşlemleri</h3>
<hr />
<br />
<div class="row">
    <div class="col-6">
        <h3 class="text-center">Faturalar</h3>
        @if (Model.Bills == null || Model.Bills.Count==0)
        {
<p class="text-center">Ödenmemiş Fatura bulunmamaktadır...</p> }
else
{
<table class="table">
    <thead class="bg-dark text-white">
        <tr class="text-center">
            <th>Tutar</th>
            <th>Ay</th>
            <th>Yıl</th>
            <th>Ödeme</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bill in Model.Bills)
        {
        <tr class="text-center">
            <td>@bill.Amount</td>
            <td>@bill.Month</td>
            <td>@bill.Year</td>
            <td>
                <a class="btn btn-primary" asp-route-billId="@bill.Id" asp-action="BillPayment"> Fatura Öde</a>
            </td>
        </tr>               
        }
    </tbody>
</table>}
    </div>
    <div class="col-6">
        <h3 class="text-center">Aidatlar</h3>
        @if (Model.Subscriptions == null || Model.Subscriptions.Count == 0)
        {
<p class="text-center">Ödenmemiş Aidat bulunmamaktadır...</p> }
else
{
<table class="table">
    <thead class="bg-dark text-white">
        <tr class="text-center">
            <th>Tutar</th>
            <th>Ay</th>
            <th>Yıl</th>
            <th>Ödeme</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subscription in Model.Subscriptions)
        {
        <tr class="text-center">
            <td>@subscription.Amount</td>
            <td>@subscription.Month</td>
            <td>@subscription.Year</td>
            <td>
                <a class="btn btn-primary" asp-route-subscriptionId="@subscription.Id" asp-action="SubscriptionPayment"> Aidat Öde</a>
            </td>
        </tr>                
        }
    </tbody>
</table>
}
    </div>
</div>
