@{
    Layout = "_AdminLayout";
}

@model List<User>

@{ ViewData["Title"] = "Index"; }

<h3 class="text-center">Üye İşlemleri</h3>
<hr /> <br />

<div class="container">

    <div class="row">
        <div class="col-12">
            @if (Model.Count == 0)
            {
                <p class="text-center"> Kullanıcı Bulunmamakta</p>
            }
            else
            {
                <table class="table">
                    <thead class="bg-dark text-white">
                        <tr class="text-center">
                            <th>UserName</th>
                            <th>İsim</th>
                            <th>Soyisim</th>
                            <th>Email</th>
                            <th>Rol</th>
                            <th>Sil</th>
                            <th>Güncelle</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr class="text-center">
                                <td>@user.UserName</td>
                                <td>@user.Name</td>
                                <td>@user.Surname</td>
                                <td>@user.Email</td>
                                <td>
                                    <a class="btn btn-success" asp-route-userId="@user.Id" asp-action="Details"> Role</a>
                                </td>
                                <td>
                                    <a class="btn btn-success" asp-route-userId="@user.Id" asp-action="Delete"> Delete</a>
                                </td>
                                <td>
                                    <a class="btn btn-success" asp-route-userId="@user.Id" asp-action="Update"> Güncelle</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>